*~*
*.orig
*.class
*closure
target
target/
target/classes
target/classes/
target-eclipse
target-eclipse/
bin
classpath
.settings
*stacktrace
.classpath
.project
stacktrace.log
dtd/
.DS_Store
prodDb.log
prodDb.properties
prodDb.script
newrelic.log
ml-build/
*.log
*.idea
*.iml